<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html" ; charset="UTF-8">
    <title>evPlug</title>
    <link rel="stylesheet" type="text/css" href="./static/form.css">

</head>

<body>
    <div class="form">
        <div class="form-content" id="MessageForm">
            <div class="header">
                <h2> Message </h2>
                <hr>
            </div>
            <div class="form-input">
                <form action="/cancel" class="form-container">
                    {{if .Message}}
                    <p>{{.Message}}</p>
                    {{end}}

                    <button type="submit" class="submitbtn">Ok</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>